body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/* Header */
header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

nav {
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding-right: 10px;
  text-decoration:
}

a {
  color: seashell;
}

/* Main Container */
.container {
  margin: 69px auto 50px auto;
  background-color: black;
  height: 2000px;
  width: 1200px;
}

/* Mission */
.mission {
  display: flex;
  width: 1200px;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  align-items: center;
}

.title {
  background-color: black;
  flex-direction: column;
  width: 100%;
}

/* Featured Tea */
figcaption {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  font-weight: bold;
  margin-top: 10px;
}

.featured {
  width: 1000px;
  margin: 0 auto 0 auto;
}

.images {
  display: inline-block;
  background-color: black;
  width: 1000px;
  height: 575px;
}

.images .image-container {
  display: inline-block;
  margin-top: 15px;
}

/* Locations */
.location-title {
  z-index: 5;
  margin-top: 50px;
  margin-left: 525px;
  position: absolute;
}

.locations {
  display: flex;
  width: 1200px;
  height: 575px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  justify-content: center;
}

.locations .downtown {
  width: 300px;
  height: 250px;
  background-color: black;
  margin-top: 160px;
  margin-right: 40px;
}

.locations .east-bayside {
  width: 300px;
  height: 250px;
  background-color: black;
  margin-top: 160px;
  margin-right: 40px;
}

.locations .oakdale {
  width: 300px;
  height: 250px;
  background-color: black;
  margin-top: 160px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%
  height: 200px;
  margin: auto;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
